<section id="homepage">
  <header>
    <h1>FEEL THE MUSIC</h1>
  </header>
  <form id="artist-search" action="/artist-search" method="GET">
    <fieldset>
      <label for="artist">Search for an Artist:</label>
      <input class="general-input" type="text" name="artist" id="artist">
      <button type="submit">Search</button>
    </fieldset>
  </form>
</section>
